[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
autopep8 = "*"
django-cors-headers = "*"
django = "==1.11.20"

[requires]
python_version = "3.6"
